In [1]:
import pandas as pd
df=pd.read_excel("c:/Users/HP/Downloads/shipment_dataset_10000.xlsx")
df

,order_id,supplier_id,supplier_rating,supplier_lead_time,order_date,promised_delivery_date,actual_delivery_date,shipment_mode,shipping_distance_km,order_quantity,unit_price,total_order_value,weather_condition,region,holiday_period,previous_on_time_rate,carrier_name,delayed_reason_code,on_time_delivery
0,1,5322,3.4,10,2024-05-15,2024-05-25,2024-05-29,Sea,51,48,2153.91,103387.68,Clear,East,No,89.9,EcomExpress,Operational,0
1,2,3932,4.3,10,2024-11-12,2024-11-22,2024-11-27,Sea,373,91,405.36,36887.76,Rainy,East,Yes,93.6,DHL,Customs,0
2,3,8966,3.2,5,2024-08-28,2024-09-02,2024-09-02,Sea,1304,25,3241.41,81035.25,Cloudy,South,No,78.2,BlueDart,NaN,1
3,4,9832,NaN,7,2024-08-12,2024-08-19,2024-08-19,Air,25000,71,365.79,25971.09,Rainy,Central,No,85.2,FedEx,Operational,1
4,5,2126,3.2,8,2024-07-07,2024-07-15,2024-07-18,Sea,258,9,3052.84,27475.56,Cloudy,East,No,77.1,BlueDart,Customs,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9995,3.5,4,2024-01-28,2024-02-01,2024-02-04,Air,124,64,1366.30,87443.20,Storm,North,Yes,73.5,BlueDart,Customs,0
9996,9997,8040,3,6,2024-04-18,2024-04-24,2024-04-28,Sea,634,98,3760.28,368507.44,Clear,South,No,83.4,EcomExpress,Customs,0
9997,9998,3286,2.9,9,2024-04-25,2024-05-04,2024-05-04,Sea,642,42,2318.28,97367.76,Clear,South,Yes,73.3,FedEx,Customs,1
9998,9999,1633,"""4.9""",8,2024-05-08,2024-05-16,2024-05-15,Air,205,28,2272.79,63638.12,Clear,East,Yes,73.2,BlueDart,Weather,1
9999,10000,7878,4.2,-4,2024-03-26,2024-03-30,2024-03-29,Air,317,29,2357.58,68369.82,Rainy,South,Yes,99.3,EcomExpress,Operational,1

In [3]:
# remove duplicates 
df.drop_duplicates()

,order_id,supplier_id,supplier_rating,supplier_lead_time,order_date,promised_delivery_date,actual_delivery_date,shipment_mode,shipping_distance_km,order_quantity,unit_price,total_order_value,weather_condition,region,holiday_period,previous_on_time_rate,carrier_name,delayed_reason_code,on_time_delivery
0,1,5322,3.4,10,2024-05-15,2024-05-25,2024-05-29,Sea,51,48,2153.91,103387.68,Clear,East,No,89.9,EcomExpress,Operational,0
1,2,3932,4.3,10,2024-11-12,2024-11-22,2024-11-27,Sea,373,91,405.36,36887.76,Rainy,East,Yes,93.6,DHL,Customs,0
2,3,8966,3.2,5,2024-08-28,2024-09-02,2024-09-02,Sea,1304,25,3241.41,81035.25,Cloudy,South,No,78.2,BlueDart,NaN,1
3,4,9832,NaN,7,2024-08-12,2024-08-19,2024-08-19,Air,25000,71,365.79,25971.09,Rainy,Central,No,85.2,FedEx,Operational,1
4,5,2126,3.2,8,2024-07-07,2024-07-15,2024-07-18,Sea,258,9,3052.84,27475.56,Cloudy,East,No,77.1,BlueDart,Customs,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9995,3.5,4,2024-01-28,2024-02-01,2024-02-04,Air,124,64,1366.30,87443.20,Storm,North,Yes,73.5,BlueDart,Customs,0
9996,9997,8040,3,6,2024-04-18,2024-04-24,2024-04-28,Sea,634,98,3760.28,368507.44,Clear,South,No,83.4,EcomExpress,Customs,0
9997,9998,3286,2.9,9,2024-04-25,2024-05-04,2024-05-04,Sea,642,42,2318.28,97367.76,Clear,South,Yes,73.3,FedEx,Customs,1
9998,9999,1633,"""4.9""",8,2024-05-08,2024-05-16,2024-05-15,Air,205,28,2272.79,63638.12,Clear,East,Yes,73.2,BlueDart,Weather,1
9999,10000,7878,4.2,-4,2024-03-26,2024-03-30,2024-03-29,Air,317,29,2357.58,68369.82,Rainy,South,Yes,99.3,EcomExpress,Operational,1

In [4]:
# outlier anomaly
outliers = df[df['shipping_distance_km'] > 20000]
print("Outliers:\n", outliers)
# Replace with the median value
median_value = df['shipping_distance_km'].median()
df.loc[df['shipping_distance_km'] > 20000, 'shipping_distance_km'] = median_value
df

Outliers:
    order_id  supplier_id supplier_rating  supplier_lead_time order_date  \
3         4         9832             NaN                   7 2024-08-12

  promised_delivery_date actual_delivery_date shipment_mode  \
3             2024-08-19           2024-08-19           Air

   shipping_distance_km  order_quantity  unit_price  total_order_value  \
3                 25000              71      365.79           25971.09

  weather_condition   region holiday_period  previous_on_time_rate  \
3             Rainy  Central             No                   85.2

  carrier_name delayed_reason_code  on_time_delivery
3        FedEx         Operational                 1

,order_id,supplier_id,supplier_rating,supplier_lead_time,order_date,promised_delivery_date,actual_delivery_date,shipment_mode,shipping_distance_km,order_quantity,unit_price,total_order_value,weather_condition,region,holiday_period,previous_on_time_rate,carrier_name,delayed_reason_code,on_time_delivery
0,1,5322,3.4,10,2024-05-15,2024-05-25,2024-05-29,Sea,51,48,2153.91,103387.68,Clear,East,No,89.9,EcomExpress,Operational,0
1,2,3932,4.3,10,2024-11-12,2024-11-22,2024-11-27,Sea,373,91,405.36,36887.76,Rainy,East,Yes,93.6,DHL,Customs,0
2,3,8966,3.2,5,2024-08-28,2024-09-02,2024-09-02,Sea,1304,25,3241.41,81035.25,Cloudy,South,No,78.2,BlueDart,NaN,1
3,4,9832,NaN,7,2024-08-12,2024-08-19,2024-08-19,Air,759,71,365.79,25971.09,Rainy,Central,No,85.2,FedEx,Operational,1
4,5,2126,3.2,8,2024-07-07,2024-07-15,2024-07-18,Sea,258,9,3052.84,27475.56,Cloudy,East,No,77.1,BlueDart,Customs,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9995,3.5,4,2024-01-28,2024-02-01,2024-02-04,Air,124,64,1366.30,87443.20,Storm,North,Yes,73.5,BlueDart,Customs,0
9996,9997,8040,3,6,2024-04-18,2024-04-24,2024-04-28,Sea,634,98,3760.28,368507.44,Clear,South,No,83.4,EcomExpress,Customs,0
9997,9998,3286,2.9,9,2024-04-25,2024-05-04,2024-05-04,Sea,642,42,2318.28,97367.76,Clear,South,Yes,73.3,FedEx,Customs,1
9998,9999,1633,"""4.9""",8,2024-05-08,2024-05-16,2024-05-15,Air,205,28,2272.79,63638.12,Clear,East,Yes,73.2,BlueDart,Weather,1
9999,10000,7878,4.2,-4,2024-03-26,2024-03-30,2024-03-29,Air,317,29,2357.58,68369.82,Rainy,South,Yes,99.3,EcomExpress,Operational,1

In [5]:
# datatype mismatch
df['supplier_rating'] = df['supplier_rating'].astype(str).str.replace('"', '')
df['supplier_rating'] = pd.to_numeric(df['supplier_rating'], errors='coerce').astype(float)
df

,order_id,supplier_id,supplier_rating,supplier_lead_time,order_date,promised_delivery_date,actual_delivery_date,shipment_mode,shipping_distance_km,order_quantity,unit_price,total_order_value,weather_condition,region,holiday_period,previous_on_time_rate,carrier_name,delayed_reason_code,on_time_delivery
0,1,5322,3.4,10,2024-05-15,2024-05-25,2024-05-29,Sea,51,48,2153.91,103387.68,Clear,East,No,89.9,EcomExpress,Operational,0
1,2,3932,4.3,10,2024-11-12,2024-11-22,2024-11-27,Sea,373,91,405.36,36887.76,Rainy,East,Yes,93.6,DHL,Customs,0
2,3,8966,3.2,5,2024-08-28,2024-09-02,2024-09-02,Sea,1304,25,3241.41,81035.25,Cloudy,South,No,78.2,BlueDart,NaN,1
3,4,9832,NaN,7,2024-08-12,2024-08-19,2024-08-19,Air,759,71,365.79,25971.09,Rainy,Central,No,85.2,FedEx,Operational,1
4,5,2126,3.2,8,2024-07-07,2024-07-15,2024-07-18,Sea,258,9,3052.84,27475.56,Cloudy,East,No,77.1,BlueDart,Customs,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9995,3.5,4,2024-01-28,2024-02-01,2024-02-04,Air,124,64,1366.30,87443.20,Storm,North,Yes,73.5,BlueDart,Customs,0
9996,9997,8040,3.0,6,2024-04-18,2024-04-24,2024-04-28,Sea,634,98,3760.28,368507.44,Clear,South,No,83.4,EcomExpress,Customs,0
9997,9998,3286,2.9,9,2024-04-25,2024-05-04,2024-05-04,Sea,642,42,2318.28,97367.76,Clear,South,Yes,73.3,FedEx,Customs,1
9998,9999,1633,4.9,8,2024-05-08,2024-05-16,2024-05-15,Air,205,28,2272.79,63638.12,Clear,East,Yes,73.2,BlueDart,Weather,1
9999,10000,7878,4.2,-4,2024-03-26,2024-03-30,2024-03-29,Air,317,29,2357.58,68369.82,Rainy,South,Yes,99.3,EcomExpress,Operational,1

In [6]:
# Missing values
rating = df['supplier_rating'].mean()
df.loc[:, 'supplier_rating'] = df['supplier_rating'].fillna(rating)
df['supplier_rating'] = df['supplier_rating'].round(1)
df

,order_id,supplier_id,supplier_rating,supplier_lead_time,order_date,promised_delivery_date,actual_delivery_date,shipment_mode,shipping_distance_km,order_quantity,unit_price,total_order_value,weather_condition,region,holiday_period,previous_on_time_rate,carrier_name,delayed_reason_code,on_time_delivery
0,1,5322,3.4,10,2024-05-15,2024-05-25,2024-05-29,Sea,51,48,2153.91,103387.68,Clear,East,No,89.9,EcomExpress,Operational,0
1,2,3932,4.3,10,2024-11-12,2024-11-22,2024-11-27,Sea,373,91,405.36,36887.76,Rainy,East,Yes,93.6,DHL,Customs,0
2,3,8966,3.2,5,2024-08-28,2024-09-02,2024-09-02,Sea,1304,25,3241.41,81035.25,Cloudy,South,No,78.2,BlueDart,NaN,1
3,4,9832,3.8,7,2024-08-12,2024-08-19,2024-08-19,Air,759,71,365.79,25971.09,Rainy,Central,No,85.2,FedEx,Operational,1
4,5,2126,3.2,8,2024-07-07,2024-07-15,2024-07-18,Sea,258,9,3052.84,27475.56,Cloudy,East,No,77.1,BlueDart,Customs,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9995,3.5,4,2024-01-28,2024-02-01,2024-02-04,Air,124,64,1366.30,87443.20,Storm,North,Yes,73.5,BlueDart,Customs,0
9996,9997,8040,3.0,6,2024-04-18,2024-04-24,2024-04-28,Sea,634,98,3760.28,368507.44,Clear,South,No,83.4,EcomExpress,Customs,0
9997,9998,3286,2.9,9,2024-04-25,2024-05-04,2024-05-04,Sea,642,42,2318.28,97367.76,Clear,South,Yes,73.3,FedEx,Customs,1
9998,9999,1633,4.9,8,2024-05-08,2024-05-16,2024-05-15,Air,205,28,2272.79,63638.12,Clear,East,Yes,73.2,BlueDart,Weather,1
9999,10000,7878,4.2,-4,2024-03-26,2024-03-30,2024-03-29,Air,317,29,2357.58,68369.82,Rainy,South,Yes,99.3,EcomExpress,Operational,1

In [7]:
# invalid values
df.loc[df['supplier_lead_time'] < 0, 'supplier_lead_time'] = \
     df['supplier_lead_time'].abs()
df

,order_id,supplier_id,supplier_rating,supplier_lead_time,order_date,promised_delivery_date,actual_delivery_date,shipment_mode,shipping_distance_km,order_quantity,unit_price,total_order_value,weather_condition,region,holiday_period,previous_on_time_rate,carrier_name,delayed_reason_code,on_time_delivery
0,1,5322,3.4,10,2024-05-15,2024-05-25,2024-05-29,Sea,51,48,2153.91,103387.68,Clear,East,No,89.9,EcomExpress,Operational,0
1,2,3932,4.3,10,2024-11-12,2024-11-22,2024-11-27,Sea,373,91,405.36,36887.76,Rainy,East,Yes,93.6,DHL,Customs,0
2,3,8966,3.2,5,2024-08-28,2024-09-02,2024-09-02,Sea,1304,25,3241.41,81035.25,Cloudy,South,No,78.2,BlueDart,NaN,1
3,4,9832,3.8,7,2024-08-12,2024-08-19,2024-08-19,Air,759,71,365.79,25971.09,Rainy,Central,No,85.2,FedEx,Operational,1
4,5,2126,3.2,8,2024-07-07,2024-07-15,2024-07-18,Sea,258,9,3052.84,27475.56,Cloudy,East,No,77.1,BlueDart,Customs,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9995,3.5,4,2024-01-28,2024-02-01,2024-02-04,Air,124,64,1366.30,87443.20,Storm,North,Yes,73.5,BlueDart,Customs,0
9996,9997,8040,3.0,6,2024-04-18,2024-04-24,2024-04-28,Sea,634,98,3760.28,368507.44,Clear,South,No,83.4,EcomExpress,Customs,0
9997,9998,3286,2.9,9,2024-04-25,2024-05-04,2024-05-04,Sea,642,42,2318.28,97367.76,Clear,South,Yes,73.3,FedEx,Customs,1
9998,9999,1633,4.9,8,2024-05-08,2024-05-16,2024-05-15,Air,205,28,2272.79,63638.12,Clear,East,Yes,73.2,BlueDart,Weather,1
9999,10000,7878,4.2,4,2024-03-26,2024-03-30,2024-03-29,Air,317,29,2357.58,68369.82,Rainy,South,Yes,99.3,EcomExpress,Operational,1

In [8]:
df.to_excel("output.xlsx", index=False)